.heading{
    font-size: 23px;
    color: aquamarine;
}
.note{
    color:black;
    font-size: 19px;
}
.copy_right_footer{
    color:aqua;
    box-shadow: 4px 4px 32px lightgreen;
    width: 100%;
    bottom: 0;
    line-height: 3;
    background-color: rgb(17, 34, 223);
    text-align: center;
}
video{
    float: left;
}
canvas{
    border-radius: 5px;
    border-color: bisque;
    box-shadow: 4px 4px 35px aquamarine;
    border-width: 5px;
    border-style: groove;
}
#font{
    float:right;
    color: black;
}
#font_change{
    color: black;
}